body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#pick-word-btn {
    font-size: 54px;
    padding: 40px;
    cursor: pointer;
}

#result {
    font-size: 36px;
    margin-top: 20px;
}
